# development and cache folders
__pycache__/
.vscode/
.venv/
.ruff_cache/
*.egg-info/

# ignore config folder
samples/*

!samples/config-sample.yml
!samples/sample-data.csv

.python-version
uv.lock

testing*
